{:deps    {org.clojure/clojurescript {:mvn/version "1.10.238"}}
 :aliases {:test  {:extra-paths ["test"]
                   :main-opts ["-m" "cljs.main" "-re" "node" "test/mrmcc3/aws/sig_v4_test.cljs"]}
           :usage {:main-opts ["-m" "cljs.main" "-re" "node" "test/mrmcc3/aws/sig_v4_usage.cljs"]}
           :adv   {:main-opts ["-m" "cljs.main" "-O" "advanced" "-c" "mrmcc3.aws.sig_v4_test" "-s"]}}}
